@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');


* {
	box-sizing: border-box;
}


.html {
	font-family: 'Noto Sans JP', sans-serif;
}


.body {
	background-color: #3f3f3f;
	margin: 0;
}